In [7]:
import pandas as pd
from matplotlib import pyplot as pl
import seaborn as sns
%matplotlib inline

In [8]:
df = pd.read_csv('Downloads/athlete_events.csv')

In [53]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

# 1 Вопрос

In [30]:
df_=df[df['Games'] == '1996 Summer']

In [35]:
df_[df_['Sex']=='M']['Age'].min(), df_[df_['Sex']=='F']['Age'].min()

(14.0, 12.0)

In [54]:
df['Games'].unique()

array(['1992 Summer', '2012 Summer', '1920 Summer', '1900 Summer',
       '1988 Winter', '1992 Winter', '1994 Winter', '1932 Summer',
       '2002 Winter', '1952 Summer', '1980 Winter', '2000 Summer',
       '1996 Summer', '1912 Summer', '1924 Summer', '2014 Winter',
       '1948 Summer', '1998 Winter', '2006 Winter', '2008 Summer',
       '2016 Summer', '2004 Summer', '1960 Winter', '1964 Winter',
       '1984 Winter', '1984 Summer', '1968 Summer', '1972 Summer',
       '1988 Summer', '1936 Summer', '1952 Winter', '1956 Winter',
       '1956 Summer', '1960 Summer', '1928 Summer', '1976 Summer',
       '1980 Summer', '1964 Summer', '2010 Winter', '1968 Winter',
       '1906 Summer', '1972 Winter', '1976 Winter', '1924 Winter',
       '1904 Summer', '1928 Winter', '1908 Summer', '1948 Winter',
       '1932 Winter', '1936 Winter', '1896 Summer'], dtype=object)

# 2 Вопрос

In [56]:
df__=df[df['Games']=='2000 Summer']

In [69]:
a=0
b=0
for i in df__[df__['Sex']=='M']['Sport']:
    if i == 'Gymnastics' or i== 'Rhythmic Gymnastics':
        a+=1
    else:
        b+=1

print(round(a/(a+b)*100,1))

7.7

# 3 Вопрос

In [112]:
round(df__[(df__['Sex']=='F') & (df__['Sport']=='Basketball')]['Height'].mean(),1),\
round(df__[(df__['Sex']=='F') & (df__['Sport']=='Basketball')]['Height'].std(),1)

(182.4, 9.1)

# 4 Вопрос

In [114]:
df2002=df[df['Games']=='2002 Winter']

In [117]:
df2002[df2002['Weight']==df2002['Weight'].max()]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
99154,50171,Emmanuel Hostache,M,26.0,190.0,123.0,France,FRA,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Two,NaN

# 5 Вопрос

In [130]:
len(df[df['Name']=='Pawe Abratkiewicz']['Games'].unique())

3

# 6 Вопрос

In [132]:
df2000=df[df['Games']=='2000 Summer']

In [142]:
df2000[(df2000['Team']=='Australia') & (df2000['Medal']=='Silver') & (df['Sport']=='Tennis')]['Medal'].count()

c:\users\кирилл\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

2

# 7 Вопрос

In [143]:
df2016=df[df['Games']== '2016 Summer']

In [150]:
df2016[df2016['Team']=='Switzerland']['Medal'].count(), \
df2016[df2016['Team']=='Serbia ']['Medal'].count()

(11, 0)

# 8 Вопрос

In [153]:
df2016=df[df['Games']== '2014 Winter']

In [156]:
_45_55=0
_35_45=0
_25_35=0
_15_25=0
for i in df2016['Age']:
    if i >= 45 and i <= 55:
        _45_55 += 1
    elif i >= 35 and i < 45:
        _35_45 += 1    
    elif i >= 25 and i < 35:
        _25_35 += 1
    elif i >= 15 and i < 25:
        _15_25+=1

print(_15_25, _25_35,_35_45,_45_55)

2027 2594 265 5

# 10 Вопрос

In [161]:
len(df[df['Games']=='2016 Summer']['Sport'].unique())

34

# 9 Вопрос

In [164]:
df[(df['Season']=='Summer') & (df['City']=='Lake Placid')].count()

ID        0
Name      0
Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
dtype: int64

In [167]:
df[(df['Season']=='Winter') & (df['City']=='Sankt Moritz')].count()

ID        1657
Name      1657
Sex       1657
Age       1563
Height     238
Weight     159
Team      1657
NOC       1657
Games     1657
Year      1657
Season    1657
City      1657
Sport     1657
Event     1657
Medal      224
dtype: int64